

header {
    background-color: #dbe6fa;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

body {
    color: #000000;
    background-color: #dbe6fa;
    font-family: Calibri;
    margin : 0px 0px 0px 0px;
}

.main1 {
    color: #dbe6fa;
    padding: 30px;
    text-align: left;
    font-size: 20px;
    background-color: #536eb5;
}

.main2 {
    color: #0c0e14;
    padding: 30px;
    text-align: left;
    font-size: 20px;
    background-color: #dbe6fa;
}

footer{
    color: #0c0e14;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    background-color: #dbe6fa;
}

.button {
  background-color: #ce4639; /* Green */
  border: solid #585a5e;
  color: #dbe6fa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 208px;
  margin: 10px 10px 0px 0px; 
  transition-duration: 0.4s;
}


.button:hover {
    background-color: #e97b5d; /* Darker */
}

.button:active {
    background-color: #e97b5d; 
    color: #536eb5;
    border: solid #0c0e14;
}   

.exploreTable {
    font-family: arial, sans-serif;
    font-size: 20px;
    border-collapse: collapse;
    width: 30%;
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.expoleTableTd{
    border: 1px solid #0c0e14;
}

.bar {
    fill: steelblue;
}

.buttonTable{
    width: 10%;
    float: left;
}

.btnSize{
    width: 100%;
    height: 50px;
}

.background{
    background-color: #e6c8ca;
}

.center {
    display: flex;
    justify-content: center;
}

.filter_icon {
    position: relative; 
    left: 34px;
    top: -20px; 
    margin-right: 10px;
    
}

.filter-background {
    position: relative;
    background-color:  #ffb396;
    border-radius: 25px;
    width: 900px;
    height: 100px; 
    left:-450px;
    top: -20px;
    box-shadow: 2.5px 5px #888888;
}

.sort {
    position: relative;
    background-color: #ffb396; 
    border-radius: 25px;
    height: 100px; 
    width:420px;
    left: -670px;
    top: 10px; 
    box-shadow: 2.5px 5px #888888;
}

.sort-element {
    position: relative;
    margin-right: 9px;
    top: -20px;
    left: 24px;
}


#pokemon_img{
    width: 100px;
    height: 100px;
}

.th1{
    float: left;
    font-size: xxx-large;
}
.th2{
    float: initial;
    font-size: xxx-large;
}
